*, body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

#nav{
  background-color: #1A1A40;
  color: white;
  position: absolute;
  top: 0;
  left:0;
  height: 38px;
  width: 100%;
}
#nav-spacer{
  margin-top: 38px;
}
#body{
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}
#nav a{
  margin: 34px;
  font-size: 24px;
  line-height: 34px;
  text-decoration: none;
  color: white;
  margin-left: 6px;
  margin-right: 0;
}
